<!-- Yaha if condintion mein sirf success likhne se kaam nahi chalega as its a array and it is empty but it exists there for succe.length>0 is must with it -->
<%if(success && success.length>0){%>  
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3 " role="alert">
        <%= success %> 
    <button type="button" 
        class="btn-close" 
        data-bs-dismiss="alert" 
        aria-label="Close">
    </button>
    </div>
<%}%><%if(error && error.length>0){%>  
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3 " role="alert">
        <%= error %> 
    <button type="button" 
        class="btn-close" 
        data-bs-dismiss="alert" 
        aria-label="Close">
    </button>
    </div>
<%}%>
